body {
  font-family: $font-family;
}

.cards-icon {
  width: 65px;
  height: 65px;
}

.form-text {
  font-size: 14px !important;
}

#app {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 520px;
}
